<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= run.title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png?" />
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="body-container">
      <div class="glass show">
        <h1><%= run.title %></h1>
        <p>Distance: <%= run.distance %> mi.</p>
        <p>Duration: <%= run.time %></p>
        <p>Speed: <%= run.speed %> minutes per mile</p>
        <p>Date: <%= run.date.toISOString().split("T")[0] %></p>
        <p>Time: <%= run.date.toISOString().match(/\d\d:\d\d/); %></p>
        <form action="/runs/<%= run._id %>?_method=DELETE" method="POST">
          <a href="/runs/<%= run._id %>/edit">Edit Run</a>
          <button type="submit">Delete run</button>
        </form>
      </div>
    </div>
  </body>
</html>
