<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign In</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png?" />
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="leaderboard-container">
      <div class="daily-leaderboard-wrapper">
        <h1 class="big orange">Daily Leaderboard</h1>
        <% for (let user of sortedDailyLeaderboard) {%>
        <a class="glass" href="#">
          <p><%= user[0] %></p>
          <p><%= user[1] %></p>
        </a>
        <% } %>
      </div>
      <div class="weekly-leaderboard-wrapper">
        <h1 class="big orange">Weekly Leaderboard</h1>
        <% for (let user of sortedWeeklyLeaderboard) {%>
        <a class="glass" href="#">
          <p><%= user[0] %></p>
          <p><%= user[1] %></p>
        </a>
        <% } %>
      </div>
    </div>
  </body>
</html>
